<h1>Songs#show</h1>

Title: <%= @song.title %></br>

Artist: <%= @song.artist.name %></br>
Genre: <%= @song.genre.name %></br>

Note:   <% Note.all.each do |note| %>
            <% if note.song == @song %>
                <%= note.content %>
            <% end %>
        <% end %>


